C 0 0 "A" 0 0 0 0 60 0 L
X "PIN_TEXT" "A" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "B" 0 -100 0 0 60 0 L
X "PIN_TEXT" "B" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "QA" 0 -200 0 0 60 0 L
X "PIN_TEXT" "QA" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "QB" 0 -300 0 0 60 0 L
X "PIN_TEXT" "QB" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "QC" 0 -400 0 0 60 0 L
X "PIN_TEXT" "QC" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "QD" 0 -500 0 0 60 0 L
X "PIN_TEXT" "QD" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "GND" 0 -600 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 1100 0 "VCC" 1100 0 0 0 60 0 R
X "PIN_TEXT" "VCC" 870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 900 0 1100 0 -1 0
C 1100 -100 "QH" 1100 -100 0 0 60 0 R
X "PIN_TEXT" "QH" 870 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -100 1100 -100 -1 0
C 1100 -200 "QG" 1100 -200 0 0 60 0 R
X "PIN_TEXT" "QG" 870 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -200 1100 -200 -1 0
C 1100 -300 "QF" 1100 -300 0 0 60 0 R
X "PIN_TEXT" "QF" 870 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -300 1100 -300 -1 0
C 1100 -400 "QE" 1100 -400 0 0 60 0 R
X "PIN_TEXT" "QE" 870 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -400 1100 -400 -1 0
C 1100 -500 "CLR*" 1100 -500 0 0 60 0 R
X "PIN_TEXT" "CLR*" 870 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -500 1100 -500 -1 0
C 1100 -600 "CLK" 1100 -600 0 0 60 0 R
X "PIN_TEXT" "CLK" 870 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -600 1100 -600 -1 0
L 200 100 900 100 -1 0
L 900 -700 900 100 -1 0
L 900 -700 200 -700 -1 0
L 200 100 200 -700 -1 0
P "$LOCATION" "?" 950 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

