C 0 0 "P2" 0 0 0 0 60 0 L
X "PIN_TEXT" "P2" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VEN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VEN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "P1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "P1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "BAT" 0 -300 0 0 60 0 L
X "PIN_TEXT" "BAT" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "CE" 0 -400 0 0 60 0 L
X "PIN_TEXT" "CE" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "REGIN" 0 -500 0 0 60 0 L
X "PIN_TEXT" "REGIN" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "REG25" 0 -600 0 0 60 0 L
X "PIN_TEXT" "REG25" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 1300 0 "P3/SDA" 1300 0 0 0 60 0 R
X "PIN_TEXT" "P3/SDA" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "P4/SCL" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "P4/SCL" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "P5/HDQ" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "P5/HDQ" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "P6/TS" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "P6/TS" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 1300 -400 "SRN" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "SRN" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
C 1300 -500 "SRP" 1300 -500 0 0 60 0 R
X "PIN_TEXT" "SRP" 1070 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -500 1300 -500 -1 0
C 1300 -600 "VSS" 1300 -600 0 0 60 0 R
X "PIN_TEXT" "VSS" 1070 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -600 1300 -600 -1 0
L 200 100 1100 100 -1 0
L 1100 -700 1100 100 -1 0
L 1100 -700 200 -700 -1 0
L 200 100 200 -700 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

